:root {
  --main-color: #776e65;
  --score-container-background: #bbada0;
  --score-word-color: #eee4da;
  --grid-container-background: #bbada0;
  --newgame-button-background-color: #8f7a66;
  --grid-cell-width: 106.25px;
  --grid-cell-height: 106.25px;
}

html,
body {
  color: var(--main-color);
}

.main-container {
  margin: 0 auto;
  width: 500px;
}

.main-container .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container .heading .game-title {
  font-size: 35px;
}

.main-container .heading .score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 13px;
  /* font-size: 30px; */
  color: white;
  border-radius: 5px;
  background-color: var(--score-container-background);
}

.main-container .heading .score-container span {
  font-size: 20px;
}

.main-container .heading .score-container span:first-child {
  color: var(--score-word-color);
}

.main-container .newgame-container {
  text-align: right;
  margin: 10px 0;
}

.main-container .newgame-container .newgame-button {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 3px;
  background-color: var(--newgame-button-background-color);
  color: #f9f6f2;
  transition: all 0.5s;
}

.main-container .newgame-container .newgame-button:hover {
  cursor: pointer;
  background-color: #5c5346;
}

.game-container .grid-container {
  padding: 15px 0 15px 0;
  background-color: var(--grid-container-background);
  border-radius: 5px;
}

.game-container .grid-container .grid-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.game-container .grid-container .grid-row:last-child {
  margin-bottom: 0;
}

.game-container .grid-container .grid-row .grid-cell {
  height: var(--grid-cell-height);
  width: var(--grid-cell-width);
  background: rgba(238, 228, 218, 0.35);
  border-radius: 3px;
}
